:root {
    --main-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --main-background-color: #ffffff;
  }
  
  body {
    background-color: #ffffff;
    color: #212121;
    font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
  }


.logo-blue {
    color: var(--accent-color);
    font-family: Raleway;
    text-decoration: none;
}
.logo-black {
    color: #000000;
    font-family: Raleway;
}

.logo-white {
    color: #FFFFFF;
    font-family: Raleway;
}
.nav {
}
.nav-link {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.nav-link:hover {
    color: #2196f3;
    }
.contact {
    color: var(--title-text-color);
}
.cover {
    background-color: #2f303a;
}
.hero-title {
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.button {
    font-family: inherit;
    color: #ffffff;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.features-name {
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}
.features-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--title-text-color);
}
.section-head {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}
.img-list {
    list-style-type: none;
}
.name-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center; 
    letter-spacing: 0.03em;
    top: 1922px;
    color: #212121; 
}
.skill-item {
    font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center; 
      letter-spacing: 0.03em;
      color: #757575;
}
.footer {
    color: rgba(255, 255, 255, 0.6);
    background-color: #2f303a;
}
.logo-footer {
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.address {
    font-style: inherit;
}
.list {
    list-style: none;
}
.address-item {
}
.address-place {
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
}
.link {
    text-decoration: none;
}
.address-contact {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}
.group-nav {
    list-style-type: none;
}
.btn {
    font-family: inherit;
    color: #ffffff;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}